/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* ALL PAGES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background-color: #EDEDF8;
    color: #373752;
}

img{
    width: 350px;
}

/* HOME PAGE */
#navBar{
    font-size: 30px;
    
    display: flex;
    justify-content: space-between;
}

a{
    background-color: #BBBBD8;
    margin: 12px;
    height: 50%;
}

a:hover{
    background-color: #53546F;
    color: white;
}

h1{
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
}

/* PRICING.HTML */
#contact{
    text-align: center;
    font-size: 20px;
}

form{
    margin: auto;
    text-align: left;
    width: 25%;
    border: #53546F 3px solid;
}

input{
    font-size: 20px;
    margin: 5px;
}

#pricing{
 
    text-align: center;
    font-size: 20px;
}